<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %} <title>LYCEEPRO</title>{% endblock %}

    {% block opengraph %}
        <meta property="og:title" content="LYCEEPRO">
        <meta property="og:description" content="CONTENT">
        <meta property="og:url" content="CONTENT">
        <meta property="og:image" content="CONTENT">
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset('img/faviconlycee.png') }}">

    <link rel="stylesheet" href="{{ asset('css/resetlyceepro.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/applyceepro.css') }}">

    <script src="https://kit.fontawesome.com/b350f69ae8.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/applyceepro.js') }}"></script>

</head>
<body>
    
    <main class="content">

        {{ include('include/flash.html.twig') }}

        {{ include('include/menulyceepro.html.twig') }}

        {% block content %}

        {% endblock %}

        {{ include('include/footerlyceepro.html.twig') }}
    </main>

</body>
</html>